//Viewport
$xs: "(max-width: 991px)";
$sm: "(max-width: 991px)";
$md: "(max-width: 991px)";
$lg: "(max-width: 991px)";
$xl: "(max-width: 991px)";

//Radius
$lgRadius: 10,20,40; //lg devices
$smRadius: 5,10,20;//sm devices

//Sizes
$wPercentages: 'width', 'w', '%', 'per', 1, 20, 5;
$wPixels: 'width', 'w', 'px', 'pix', 1, 200, 5;
$hPercentages: 'height', 'w', '%', 'per', 1, 20, 5;
$hPixels: 'height', 'w', 'px', 'pix', 1, 200, 5;